
<html>
<body>
<div class="header">
        <div class="logo">
            <span class="logo-icon"><i class="fa-solid fa-tooth"></i></span>
            <h2>SmileCare</h2>
        </div>
        <!-- Responsive  -->
  <input type="checkbox" id="menu-toggle" class="menu-checkbox" hidden>
  <label for="menu-toggle" class="menu-toggle-label">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <!-- ****** -->
        <nav class="navbar">
            <a href="home.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="services.html">Services</a>
            <a href="doctors.html">Doctors</a>
            <a href="articles.html">Articles</a>
            <a href="store.html">Medical Store</a>
            <a href="contactUs.html">Contact</a>
        </nav>
        <div id="auth-container">
    <a href="login.html" class="btn btn-outline-primary">Login</a>
    <a href="register.html" class="btn btn-primary">Register</a>
</div>
    </div>
    </body>
    </html>
